{% extends 'shop/basic.html' %}

{% block title%} Checkout {% endblock %}

{% block body%} 

<div class="container">
    <div class="col my-4">
        <h2>Step 1 - My Awesome Cart Express Checkout - Review Your Cart Items</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
                
            </ul>
            
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item active" aria-current="page">Your cart total is <b>Rs <span id="totalPrice"> </span></b>.  Thanks for using My Awesome Cart</li>
              </ol>
            </nav>
        </div>
    </div>
    <div class="col my-4">
        <h2>Step 2 - Enter address & Other Details:</h2>
        <form class="row g-3" method="post" action="/shop/checkout/">{% csrf_token %}
            <input type="hidden" name = "items_json" id="items_json">
            <input type="hidden" name = "amount" id="amount">
            <div class="col-md-6">
                <label for="inputName" class="form-label">Name</label>
                <input type="name" class="form-control" id="name" name="name">
              </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address Line 2</label>
              <input type="text" class="form-control" id="address" name="address">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2" name="address2">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="city" name="city">
            </div>
           
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="zip_code" name="zip_code">
            </div>
            <div class="col-md-2">
                <label for="inputPhone" class="form-label">Phone</label>
                <input type="number" class="form-control" id="phone" name="phone">
              </div>
              <div class="col-md-2">
                <label for="inputstate" class="form-label">State</label>
                <input type="name" class="form-control" id="state" name="state">
              </div>
            <div class="col-12 my-4">
              <button type="submit" class="btn btn-primary">Place Order</button>
            </div>
          </form>
    </div>
</div>

{% endblock %}

{% block js %}
<script>

    if(localStorage.getItem('cart') == null){
        var cart = {};
        }else{
            cart = JSON.parse(localStorage.getItem('cart'));
        }
        console.log(cart);
        var sum = 0;
        var totalPrice = 0;
        if ($.isEmptyObject(cart)){
            mystr = 'Your cart is empty, please add some items to your cart before checking out!'
            $('#items').append(mystr);
        }


        for(item in cart){

            let name = cart[item][1];
            let qty = cart[item][0];
            let itemPrice = cart[item][2];
            sum = sum + qty;

            totalPrice = totalPrice + qty * itemPrice;
            mystr = '<li class="list-group-item d-flex justify-content-between align-items-center">'+name+'<span class="badge bg-primary rounded-pill">'+qty+'</span></li>'
            $('#items').append(mystr);
        }
        document.getElementById('cart').innerHTML = sum;

        document.getElementById('totalPrice').innerHTML = totalPrice;
        $('#items_json').val(JSON.stringify(cart));
        {% if thank %}
        alert('Thanks for ordering with us. Your order ID is {{id}}. Use it to track your order using our order tracker');
        document.location = "/shop";
        localStorage.clear();
        {% endif%}
        $('#amount').val($('#totalPrice').html())

</script>
{% endblock %}